.Nav{
    max-width: 15vw;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  
.links{
    list-style: none;
    width: 15vw;
    padding: 0%;
    padding: 5px;
}

.links li{
    padding: 10px;
}

.link li:hover{
    background-color: rgb(194, 191, 191);
}

.links li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}


